.table-content{
    margin-top: 20px;
    overflow-x:auto;
}
.custom-table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
}
.column-header{
    padding: 4px; 
    background: linear-gradient(125deg, rgba(56, 222, 179, 0.25) 0%, rgba(6, 214, 160, 0.05) 100%); 
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.06);
     border-bottom: 1px #D9D9D9 solid; 
     flex-direction: column;
      justify-content: center; 
      align-items: center; 
      gap: 10px;
     display: inline-flex;
height: 35px;
padding: 4px;
}

.row-even{
    padding: 4px; 
    background: #FFFFFF; 
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.06);
     border-bottom: 1px #D9D9D9 solid; 
     flex-direction: column;
      justify-content: center; 
      align-items: center; 
      gap: 10px;
     display: inline-flex;
height: 35px;
padding: 4px;
}
.checkbox{
    border: 1px solid var(--gray-600, #718096);
    background: var(--White, #FFF);
    height: 18px;
    width: 18px;
}

input[type="checkbox"]:checked {
    background-color: #718096;
  }
.actions-element{  
display: flex;
height: 30px;
padding: 4px;
flex-direction: row;
justify-content: center;
align-items: flex-start;
gap: 10px;
align-self: stretch;
}