.bell-ringing {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  padding: 8px;
  position: relative;
}

.bell-ringing .bell-ringing-03-6 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}
